GIMP/
KDE/
QtProject.conf
QtProject/
Signal/
Smart Code ltd/
Thunar/
Trolltech.conf
VirtualBox/
X11/
akregatorrc
autostart/
awesome/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
calibre/
chromium/
colorschemes/
configstore/
dconf/
device_automounter_kcmrc
discord/
dolphinrc
easytag/
elisarc
emaildefaults
flameshot/
flameshotrc
fontconfig/
google-chrome/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
htop/
instaloader/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kded_device_automounterrc
kdedefaults/
kdeglobals
kfontinstuirc
kglobalshortcutsrc
kile-livepreview-okularpartrc
kilerc
kitty/
kmixrc
kolourpaintrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
lazygit/
libaccounts-glib/
libreoffice/
locale.conf
matplotlib/
mimeapps.list
mono.addins/
mpd/
mpv/
neofetch/
networkmanagement.notifyrc
nvim/
octave/
okularpartrc
pavucontrol.ini
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmarc
plasmashellrc
print-manager
procps/
pulse/
qBittorrent/
qt5ct/
session/
skypeforlinux/
soffice.binrc
spotify/
systemd/
systemmonitorrc
systemsettingsrc
torbrowser/
user-dirs.locale
wireshark/
xfce4/
xsettingsd/
yay/
ymuse/
