.config/QtProject.conf
.config/Thunar
.config/chromium
.config/cmus
.config/dconf
.config/discord
.config/mimeapps.list
.config/pulse
.config/qBittorrent
.config/qpdfview
.config/qtile
.config/spotify
.config/termite
.config/torbrowser
.config/xfce4

!.config/cmus/rc
